[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyGovstyle"]
	path = shinyGovstyle
	url = https://github.com/moj-analytical-services/shinygovstyle
